@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,700&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: "Merriweather", sans-serif;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}


.search{
    position: relative;
    height: 50px;
}

.inp{
      width: 50px;
      height: 50px;
      background-color: white;
      border:0;
      padding: 10px;
      transition: width 0.4s ease;
      font-size: 19px;
      outline: none;

}

.btn{
    font-size: 25px;
    width:50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    border: 0;
    left: 0;
    top: 0;
    transition: transform 0.3s ease;

}

.search.active .inp{
    width: 200px;
}
.search.active .btn{
    transform: translateX(198px);
}

